<div class="max-w-xl mx-auto p-6 shadow-md/25">
  <div class="flex items-center gap-4 mb-4">
    <img class="rounded-full object-cover size-25" src="{{ '/assets/images/ben.jpg' | relative_url }}" alt="Ben Joyce FIA, Founder & CEO, Olive Octagon">
    <div>
      <h2 class="text-3xl">Ben Joyce FIA</h2>
      <p class="text-lg italic text-gray-500">Founder and CEO, Olive Octagon</p>
    </div>
  </div>
  <div class="prose prose-lg">
    <p>Ben has over 24 years of experience in software development, with a focus on actuarial and financial reporting systems.</p>
    <p>He is passionate about using technology to improve productivity and performance in regulatory reporting and beyond.</p>
    <p>As the founder of Olive Octagon, a provider of various software reporting solutions to the industry, he has become one of the UK's leading voices on regulation and compliance.</p>
  </div>
</div>