<footer style="color:#fff;background-color:#242;">
  <div style="display:grid;grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));column-gap:0.25rem;row-gap:1rem;">
    <div>
      <img src="{{ '/logo-white.svg' | relative_url }}" alt="Olive Octagon logo" height="160px" width="160px" />
    </div>
    <div>
      <p style="font-weight: bold;">Olive Octagon Limited</p>
      <p>Insurance Offices, Hall Street<br />Long Melford<br />Sudbury<br />UNITED KINGDOM<br />CO10 9JB</p>
      <p>Registered in England No. 16138803<br />LEI Code: 2138007R4RBJ4M21NL84</p>
    </div>
    <div>
      <p style="font-weight: bold;">Engage With Us</p>
      <p>
        <a href="https://www.linkedin.com/company/oliveoctagon/">LinkedIn</a><br />
      </p>
      <p>
        {% if page.url == "/media/" %}
          Media Room
        {% else %}
          <a href="{{ '/media/' | relative_url }}">Media Room</a>
        {% endif %}
      </p>
      <p>
        {% if page.url == "/contact/" %}
          Contact Us
        {% else %}
          <a href="{{ '/contact/' | relative_url }}">Contact Us</a>
        {% endif %}
      </p>
    </div>
    <div>
      <p style="font-weight: bold;">Privacy Policy</p>
      <p>We do not use cookies or collect any data when you use this site. Therefore we don't have any of your
        information to store, process or share with third parties.</p>
      <p>If you contact us through our contact form then you grant us permission to process your data for the purposes of
        replying to you. After we have contacted you, you can reply via email requesting us to delete your data.</p>
    </div>
  </div>
</footer>