<footer class="bg-brand-dark text-white text-base/6 [&_a]:hover:underline">
  <div class="max-w-7xl mx-auto py-6 px-6 sm:p-12 grid gap-x-1 gap-y-12" style="grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))">
    <div>
      <img class="size-40" src="{{ '/logo-white.svg' | relative_url }}" alt="Olive Octagon logo" />
    </div>
    <div class="space-y-4">
      <p class="font-bold">Olive Octagon Limited</p>
      <p>Insurance Offices, Hall Street<br />Long Melford<br />Sudbury<br />UNITED KINGDOM<br />CO10 9JB</p>
      <p>Registered in England No. 16138803<br />LEI Code: 2138007R4RBJ4M21NL84</p>
    </div>
    <div class="space-y-4">
      <p class="font-bold">Engage With Us</p>
      <p>
        <a href="https://www.linkedin.com/company/oliveoctagon/">LinkedIn</a><br />
      </p>
      <p>
        {% if page.url == "/media/" %}
          Media Room
        {% else %}
          <a href="{{ '/media/' | relative_url }}">Media Room</a>
        {% endif %}
      </p>
      <p>
        {% if page.url == "/contact/" %}
          Contact Us
        {% else %}
          <a href="{{ '/contact/' | relative_url }}">Contact Us</a>
        {% endif %}
      </p>
    </div>
    <div class="space-y-4">
      <p class="font-bold">Privacy Policy</p>
      <p>We do not use cookies or collect any data when you use this site. Therefore we don't have any of your
        information to store, process or share with third parties.</p>
      <p>If you contact us through our contact form then you grant us permission to process your data for the purposes of
        replying to you. After we have contacted you, you can reply via email requesting us to delete your data.</p>
    </div>
  </div>
</footer>