---
layout: default
---
<!-- Hero Header -->
<div class="w3-container" style="background-image:url('{{ '/news/news-bg.jpg' | relative_url }}'); background-size:cover; background-position:center; font-size:3rem; height:3em; display: flex; align-items:center; justify-content: center;">
<h1 class="w3-center" style="color:white; margin:0;">NEWS</h1>
</div>

<!-- Link back to the news page -->
<nav style="padding: 32px 16px 0 16px; max-width: 1264px; margin: auto;">
<a href="{{ '/news/' | relative_url }}" class="" style="margin-bottom: 16px;">&larr; Back to News</a>
</nav>

<article class="w3-content">
<header class="post-hero">
    <h1 class="w3-xxxlarge">{{ page.title }}</h1>
    <p class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: "%A, %-d %B %Y" }}
    </time>
    {% if page.author %}&nbsp;&bull;&nbsp;By {{ page.author }}{% endif %}
    </p>
</header>

{% if page.image %}
    <div class="w3-padding-32 w3-auto" style="max-width: 1000px;">
    <img src="{{ page.image }}" alt="Featured image for {{ page.title }}" class="news-image" style="width:100%; border-radius: 8px;">
    </div>
{% endif %}

<div class="post-content">
    {{ content }}
</div>
</article>

<div class="w3-content">
  <div class="w3-row-padding" style="margin:0 0 64px 0;display:flex;flex-direction:column;align-items: center;">
    <div class="w3-col l6 m12 w3-large">
      <div class="w3-card w3-white" style="border-radius:8px;padding:24px;">
        <div style="display:flex; align-items:center; margin-bottom:16px; gap:16px">
          <img src="/assets/images/ben.jpg" alt="Ben Joyce FIA, Founder & CEO, Olive Octagon" class="w3-circle" style="width:100px; height:100px; object-fit:cover;">
          <div>
            <h2 style="margin:0;">Ben Joyce FIA</h2>
            <p style="font-style:italic; color:#555; margin:0">Founder and CEO, Olive Octagon</p>
          </div>
        </div>
        <div>
          <p>Ben has over 24 years of experience in software development, with a focus on actuarial and financial reporting systems.</p>
          <p>He is passionate about using technology to improve productivity and performance in regulatory reporting and beyond.</p>
          <p>As the founder of Olive Octagon, a provider of various software reporting solutions to the industry, he has become one of the UK's leading voices on regulation and compliance.</p>
        </div>
      </div>
    </div>
  </div>
</div>
