---
layout: default
---
<!-- Hero Header -->
<div class="bg-cover bg-center text-5xl flex items-center justify-center h-36" style="background-image:url('{{ '/news/news-bg.jpg' | relative_url }}')">
  <div class="text-center text-white m-0">NEWS</div>
</div>

<div class="max-w-7xl mx-auto my-8 px-4">

  <!-- Link back to the news page -->
  <nav>
    <a href="{{ '/news/' | relative_url }}" class="" style="margin-bottom: 16px;">&larr; Back to News</a>
  </nav>

  <article class="prose max-w-6xl mx-auto my-8">
    <header>
        <h1 class="text-5xl font-normal">{{ page.title }}</h1>
        <p>
          <time datetime="{{ page.date | date_to_xmlschema }}">
              {{ page.date | date: "%A, %-d %B %Y" }}
          </time>
          {% if page.author %}&nbsp;&bull;&nbsp;By {{ page.author }}{% endif %}
        </p>
    </header>

    {% if page.image %}
      <img src="{{ page.image }}" alt="Featured image for {{ page.title }}" class="aspect-7/3 object-cover w-full">
    {% endif %}

    <div class="@container
    [&_*:not(img):not(:has(img))]:max-w-2xl 
    [&>*:not(img):not(:has(img))]:mx-auto
    [@container(min-width:calc(theme(maxWidth.2xl)+theme(spacing.24)*2))]:[&>*:not(img):not(:has(img))]:ml-24">
      {{ content }}
    </div>
  </article>
    
  {% include ben-card.html %}

  
</div>
